trunk/ESB/BancoMdf/WebContent/wsdl/ServiceImplementation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://midd.fing" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://midd.fing" xmlns:intf="http://midd.fing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://midd.fing" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="receive">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element maxOccurs="unbounded" name="transaction" type="impl:Transaction"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Transaction">
    <sequence>
     <element name="amount" type="xsd:double"/>
     <element name="cardNumber" nillable="true" type="xsd:string"/>
     <element name="cardType" nillable="true" type="xsd:string"/>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="commerceName" nillable="true" type="xsd:string"/>
     <element name="currency" nillable="true" type="xsd:string"/>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="deviceType" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:long"/>
     <element name="time" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="receiveResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="receiveRequest">

      <wsdl:part element="impl:receive" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="receiveResponse">

      <wsdl:part element="impl:receiveResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ServiceImplementation">

      <wsdl:operation name="receive">

         <wsdl:input message="impl:receiveRequest" name="receiveRequest"/>

         <wsdl:output message="impl:receiveResponse" name="receiveResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceImplementationSoapBinding" type="impl:ServiceImplementation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="receive">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="receiveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="receiveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceImplementationService">

      <wsdl:port binding="impl:ServiceImplementationSoapBinding" name="ServiceImplementation">

         <wsdlsoap:address location="http://localhost:8080/Banco/services/ServiceImplementation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
